<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sword.langbook.android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23"/>

    <application
        android:name=".LangbookApplication"
        android:label="@string/appName"
        android:theme="@style/AppTheme"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="true"
        android:fullBackupContent="true">

        <activity
            android:name=".activities.LanguageSelector"
            android:label="@string/appName"/>

        <activity android:name=".activities.LanguageDetails"/>
        <activity android:name=".activities.AlphabetDetails"/>

        <activity
            android:name=".activities.Main"
            android:label="@string/appName">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.Selector"
            android:label="@string/appName"/>

        <activity
            android:name=".activities.WordDetails"
            android:label="@string/appName"/>

        <activity
            android:name=".activities.WordEditor"
            android:label="@string/appName"/>

        <activity
            android:name=".activities.ConceptPicker"
            android:label="@string/conceptPickerTitle"/>

        <activity android:name=".activities.QuizSelector"/>
        <activity android:name=".activities.Question"/>
    </application>
</manifest>
